---
import Base from "../layouts/Base.astro";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import Flota from "../components/sections/Flota.astro";
import Servicios from "../components/sections/Servicios.astro";
import Maniobras from "../components/sections/Maniobras.astro";
import Galeria from "../components/sections/Galeria.astro";
import Nosotros from "../components/sections/Nosotros.astro";
import Contacto from "../components/sections/Contacto.astro";
import Testimonials from "../components/sections/Testimonials.astro";
---

<Base>
  <Navbar />
  <main id="main">
    <Hero />
    <Flota />
    <Servicios />
    <Maniobras />
    <Galeria />
    <Nosotros />
    <Testimonials />
    <Contacto />
  </main>
  <Footer />
</Base>
