---
import ContactoSection from "../components/sections/ContactoSection.astro";
import Flota from "../components/sections/Flota.astro";
import GaleriaGrid from "../components/sections/GaleriaGrid.astro";
import Hero from "../components/sections/Hero.astro";
import Maniobras from "../components/sections/Maniobras.astro";
import NosotrosSection from "../components/sections/NosotrosSection.astro";
import ServiciosGrid from "../components/sections/ServiciosGrid.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import Base from "../layouts/Base.astro";
---

<Base>
  <Navbar />
  <main id="main">
    <Hero />
    <Flota />
    <ServiciosGrid />
    <Maniobras />
    <GaleriaGrid />
    <NosotrosSection />
    <Testimonials />
    <ContactoSection />
  </main>
  <Footer />
</Base>
